@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#050505] text-white antialiased overflow-x-hidden;
    font-family: 'Inter', system-ui, sans-serif;
  }

  h1, h2, h3 {
    font-family: 'Montserrat', system-ui, sans-serif;
  }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-minimal::-webkit-scrollbar {
        width: 6px;
    }
    
    .scrollbar-minimal::-webkit-scrollbar-track {
        background: #050505; 
    }
    
    .scrollbar-minimal::-webkit-scrollbar-thumb {
        background: #333; 
        border-radius: 3px;
    }
    
    .scrollbar-minimal::-webkit-scrollbar-thumb:hover {
        background: #D60000; 
    }
}

canvas {
    image-rendering: high-quality;
}
